.line {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.32);

}
.text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 60px;
}
