.container {
    position: relative;

    .img1 {
        position: absolute;
    }
    .img2 {
        position: absolute;
        top: 50%;
        left: 35%;
    }
    .img3 {
        position: absolute;
    }
    .img4 {
        position: absolute;
    }
    .img5 {
        position: absolute;
    }
}
